h1, h2, h3, a, p, li, ul, button {
    font-family: sans-serif;
    color: rgb(211, 183, 162);
}

body {
    background-color: rgb(54, 47, 40);
}

.highlighted:after {
    content: "";

    width: 30%;
    height: 30%;
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: black;
    opacity: 35%;
    border-radius: 999px;
}

#board {
    width: 100%;
    padding-top: 20px;
}

.controls {
    padding-top: 20px;
    margin-left: 2px;
}

main {
    max-width: 600px;
    margin: auto;
}

.profile {
    padding-top: 10px;
    padding-left: 2px;
    height: 50px;
}

.profile.right {
    padding-top: 20px;
    padding-bottom: 50px;
    float: right;
}

.profile.right .info {
    float: right;
    text-align: right;
    padding-right: 10px;
}

.profile.right img {
    float: right;
}

.profile .info > * {
    margin: 0;
}

.profile img {
    height: 100%;
    float: left;
    padding-right: 10px;
}



button {
    padding: 8px 10px;
    border: none;
    background-color: rgb(87, 72, 59);
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(109, 84, 63);
}

.winner {
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 4%;
    transform: translate(-50%, -50%);
}

.winner h2 {
    text-align: center;
}

.winner .hidden {
    opacity: 0;
}