.highlighted:after {
    content: "";

    width: 25%;
    height: 25%;
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(255, 255, 255);
    border-radius: 999px;
}