.board {
    width: 600px;
    height: 600px;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
}

.board .row {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.board .row .square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board .row .square.white {
    background-color: #f1eddc;
}

.board .row .square.black {
    background-color: #6b8263;
}

.board .row .square img {
    width: 93%;
    height: 93%;
}