body {
   background-color: #272827;
}

p, a, button, ul, li, h1, h2, h3, input, label {
   font-family: Helvetica, sans-serif;
}

p.subtitle {
   font-style: italic;
   color: #a0a0a0;
}

hr {
   width: 100%;
}

@media screen and (max-width: 800px) {
  .king::before {
      font-size: 3.35vw !important;
  }
  .game-buttons button {
      width: 10% !important;
  }
}

button.unimportant {
   background-color: #5b5b5b;
}

button.unimportant:hover {
   background-color: #2d2d2d;
}

.form {
}

.form label {
   color: #e5e5e5;
}

.form .name-export {
   display: flex;
   align-items: center;
   gap: 10px;
}

.form .name-export label {
   flex: 1;
}

.form .name-export input {
   flex: 2;
}

.buttons {
   display: flex;
   gap: 10px;
   margin-top: 20px;
}

.buttons button {
   flex: 1;
}

button.blue {
   background-color: #145DA0;
}

.hidden {
   display: none !important;
}

#status-box {
   text-align: center;
   color: white;
   margin: 0;

   position: fixed;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;

   z-index: 200;

   display: flex;
   justify-content: center;
   align-items: center;
}

.status-window {
   max-width: 400px;
   max-height: 300px;
   background-color: #3f3f3f;
   border-radius: 10px;
   border: 2px solid darkgray;
   padding: 20px;
}

.status-window h1 {
   font-size: 20px;
}

.status-background {
   background-color: black;
   width: 100%;
   height: 100%;
   opacity: 50%;
   z-index: -1;
   position: inherit;
   top: 0;
   left: 0;
}

#game-export.hidden {
   display: none;
}

#game-export .subtitle {
   margin-top: 0;
}

.popup {
   max-width: 500px;
   padding: 15px;
   background-color: gray;
   border-radius: 10px;
   border: 2px solid lightgray;

   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);

   color: white;
   z-index: 100;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

    min-width: 450px;
   width: 60%;
}

#game-options {
  
}

#game-options > button {
   margin-top: 20px;
   width: 50%;
   height: 40px;
}

.options-box {
   gap: 15px;
   display: flex;
   flex-direction: column;
}

.options-box .option {
   display: flex;
}

.options-box .option label {
   flex: 1;
}

.options-box .option > *:nth-child(2) {
   flex: 2;
}

.options-box .fen-loader input {
   width: 60%;
}

.options-box .fen-loader button {
   float: right;
}

.popup::before {
   position: fixed;
   width: 100vw;
   height: 100vh;
   background-color: black;
   opacity: 75%;
   z-index: -1;
   content: "";
}

#pgn {
   max-width: 450px !important;
   padding: 15px !important;
   background-color: #2f2f2f;
   border-radius: 10px;
   border: 2px solid gray;
   white-space: pre-line;
   line-height: 25px;
}

#game-export {
   z-index: 100;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   color: white;
   width: 40%;

   min-width: 350px;
}

.popup > * {
   width: 90%;
   padding: 0 5%;
}

#game-export p {
   max-width: 600px;
   padding: 10px;
}

#game-export button {
   margin-bottom: 10px;
}

.about {
   color: white;
   padding-top: 35vh;
}

.about h1 {
   font-size: 20px;
}

.king.checked::before {
   content: "+";
   background-color: #e33b3b;
}

.king.checkmated::before {
   content: "#";
}

.king.draw::before {
   content: "½";
   background-color: #474747;
}

.king::before {
   background-color: black;
   width: 55%;
   height: 55%;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 150%;
   font-weight: bolder;
   border-radius: 100px;
   font-family: sans-serif;
   transform: translate(-45%, -45%);
   filter: drop-shadow(2px 4px 2px #00000040);

}

#loading-hint {
   position: fixed;
   z-index: 999;
   left: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background-color: #0f0f0fa8;

   display: flex;
   justify-content: center;
   align-items: center;

   transition: 1s opacity;
}

#loading-hint p {
   font-size: 2em;
   color: white;
}

#loading-hint.hidden {
   opacity: 0;
   pointer-events: none;
}

main {
   max-width: 700px;
   margin: auto;
}

button, select, input {
   border: none;
   background-color: #6b8263;
   color: white;
   border-radius: 4px;
   font-size: 1em;
   padding: 0.5em;
   cursor: pointer;
}

input {
   background-color: #f1eddc;
   color: #6b8263;
}

button:hover, select:hover {
   background-color: #414e3d;
}

.board {
   margin-top: 4em;
   margin-bottom: 1em;
   width: 100%;
   height: auto;
   aspect-ratio: 1;

   display: grid;
   grid-template-rows: repeat(8, 1fr);
   
   border-radius: 4px;
}

.board .row {
   width: 100%;

   display: grid;
   grid-template-columns: repeat(8, 1fr);
}

.board .row .square {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.board .row .square.white {
   background-color: #f1eddc;
}

.board .row .square.black {
   background-color: #6b8263;
}

.board .row .square.last-move::after {
   position: absolute;
   width: 100% !important;
   height: 100% !important;
   content: "";
   opacity: 40% !important;
   background-color: #ffe640 !important;
   border-radius: 0 !important;
}

.board .row .possible-move {
   position: relative;
}
.board .row .possible-move::after {
   position: absolute;
   content: "";
   border-radius: 999px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 30%;
   height: 30%;
   background-color: black;
   opacity: 0.5;
}

.board .row .possible-move:not(:empty) {
   background-color: rgb(188, 75, 75);
   /* width: 100%; do ::after for this if you want to have the red square overlap instead of replace target square
   height: 100%;
   border-radius: 0; */
}

/* @supports selector(:has(*)) {
   .board .row .possible-move:has(.piece) {
      background-color: rgb(147, 67, 67);
   }
   .board .row .possible-move .piece::before {
      display: none;
   }
} */

.board .row .square .piece {
   width: 80%;
   height: 80%;
   z-index: 2;

   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;

   filter: drop-shadow(2px 4px 2px #00000040);
}

.game-buttons {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
}

.game-buttons button {
   aspect-ratio: 1;
   padding: 2px;

   display: flex;
   justify-content: center;
   align-items: center;

   width: 60px;
}

.game-buttons img {
   filter: invert(1);
   width: 70%;
}

.game-buttons button.right-partition {
   margin-left: auto;
}
