.board {
   width: 600px;
   height: 600px;

   display: grid;
   grid-template-rows: repeat(8, 1fr);
}

.board .row {
   width: 100%;

   display: grid;
   grid-template-columns: repeat(8, 1fr);
}

.board .row .square {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.board .row .square.white {
   background-color: #f1eddc;
}

.board .row .square.black {
   background-color: #6b8263;
}

.board .row .square.last-move::after {
   position: absolute;
   width: 100% !important;
   height: 100% !important;
   content: "";
   opacity: 35% !important;
   background-color: #ffed76 !important;
   border-radius: 0 !important;
}

.board .row .possible-move {
   position: relative;
}
.board .row .possible-move::after {
   position: absolute;
   content: "";
   border-radius: 999px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 30%;
   height: 30%;
   background-color: black;
   opacity: 0.5;
}

.board .row .possible-move .piece {
   width: 100%;
   height: 100%;
   border-radius: 100%;
   background-color: rgba(255, 99, 99, 0.465) !important;
}

.board .row .square .piece {
   width: 95%;
   height: 95%;
   z-index: 2;
   background-size: cover;
}